<!DOCTYPE html>
<html>
<% provide(:title, 'About') %>
<%= stylesheet_link_tag    'application', media: 'all',
                           'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<h1>About</h1>
<p>

parker about info
