<!DOCTYPE html>
<html>
<% provide(:title, 'Help') %>
<%= stylesheet_link_tag    'application', media: 'all',
                           'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<h1>Help</h1>
<p>

  idk what to do here yet? hasdkjfhalksfk;las;dlkkfjsda;lkjf