<footer class="footer">
  <small>
    The Poli-Metrics </a>
    Founded by Parker Rollins & Kendall Motes</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'about' %></li>
      <li><%= link_to "Contact", 'contact' %></li>
      <li><%= link_to "News",  'news' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>